.w-layout-layout {
  grid-row-gap: 20px;
  grid-column-gap: 20px;
  grid-auto-columns: 1fr;
  justify-content: center;
  padding: 20px;
}

.w-layout-cell {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.w-layout-vflex {
  flex-direction: column;
  align-items: flex-start;
  display: flex;
}

.gallery-scroll {
  background-color: #000;
  border-bottom: 1px solid #e4ebf3;
  padding: 80px 30px;
  position: relative;
}

.container {
  width: 100%;
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
}

.gallery-wrapper {
  grid-column-gap: 40px;
  grid-row-gap: 40px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  align-items: start;
  display: grid;
}

.gallery-sticky {
  pointer-events: auto;
  color: #fff;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding-left: 8px;
  font-family: Montserrat, sans-serif;
  display: flex;
  position: sticky;
  top: 80px;
}

.gallery-sticky:hover {
  color: #fbff00;
}

.gallery-link {
  color: #fff;
  margin-bottom: 35px;
  font-size: 24px;
  line-height: 32px;
  text-decoration: none;
}

.gallery-link:hover {
  color: #ffc170;
}

.gallery-link.w--current {
  font-weight: 600;
}

.gallery-grid {
  grid-row-gap: 40px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.gallery-image-wrapper {
  position: relative;
}

.gallery-image {
  width: 100%;
}

.gallery-image-text {
  color: #f5f7fa;
  margin-bottom: 0;
  position: absolute;
  bottom: 16px;
  left: 16px;
  right: 16px;
}

.body {
  color: #fff;
  background-color: #000;
}

.div-block {
  padding-bottom: 77px;
}

.div-block-2 {
  object-fit: fill;
  flex: 0 auto;
  align-self: auto;
  width: 500px;
  height: 5px;
  padding-bottom: 64px;
  padding-right: 219px;
  text-decoration: none;
  display: block;
  position: static;
}

.cell {
  text-align: center;
  align-items: center;
  display: flex;
}

.heading {
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  text-align: center;
  flex-flow: row;
  flex: 0 auto;
  justify-content: space-between;
  align-items: center;
  font-family: Montserrat, sans-serif;
  font-size: 28px;
  font-weight: 700;
  display: flex;
  position: static;
}

.paragraph {
  color: #fff;
  text-align: justify;
  text-indent: 1px;
  column-count: auto;
  width: 675px;
  padding-left: 40px;
  padding-right: 40px;
  font-family: Montserrat, sans-serif;
  font-size: 20px;
  line-height: 30px;
  text-decoration: none;
}

.utility-page-wrap {
  justify-content: center;
  align-items: center;
  width: 100vw;
  max-width: 100%;
  height: 100vh;
  max-height: 100%;
  display: flex;
}

.utility-page-content {
  text-align: center;
  flex-direction: column;
  width: 260px;
  display: flex;
}

.utility-page-form {
  flex-direction: column;
  align-items: stretch;
  display: flex;
}

.gallery-overview {
  color: #fff;
  background-color: #f5f7fa;
  border-bottom: 1px solid #e4ebf3;
  padding: 80px 30px;
  position: relative;
}

.container-2 {
  width: 100%;
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
}

.gallery-wrapper-2 {
  grid-column-gap: 40px;
  grid-row-gap: 40px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  align-items: start;
  display: grid;
}

.gallery-block {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.gallery-features-block {
  margin-top: 16px;
  margin-bottom: 24px;
}

.gallery-feature {
  background-image: url('../images/');
  background-position: 0%;
  background-repeat: no-repeat;
  background-size: 20px;
  margin-bottom: 8px;
  padding-left: 30px;
  font-size: 14px;
  line-height: 24px;
}

.button-primary {
  color: #fff;
  letter-spacing: 2px;
  text-transform: uppercase;
  background-color: #1a1b1f;
  padding: 12px 25px;
  font-size: 12px;
  line-height: 20px;
  transition: all .2s;
}

.button-primary:hover {
  color: #fff;
  background-color: #32343a;
}

.button-primary:active {
  background-color: #43464d;
}

.gallery-grid-2 {
  grid-row-gap: 40px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.gallery-image-2 {
  width: 100%;
}

.heading-2 {
  text-align: center;
  text-decoration: none;
  display: flex;
}

.flex-block {
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  align-self: center;
  width: 100px;
  height: 20px;
}

.text-span {
  color: #ffd900;
}

.bold-text {
  color: #fff;
  font-size: 20px;
}

.quick-stack {
  grid-row-gap: 67px;
}

.video {
  width: 600px;
  max-width: 600px;
  height: auto;
  max-height: 400px;
}

.image {
  max-width: 600px;
}

.video-2 {
  max-width: none;
}

.video-3 {
  width: 600px;
  max-width: 600px;
  height: 400px;
}

.video-4 {
  width: 600px;
  max-width: none;
  height: 400px;
}

.video-5 {
  aspect-ratio: 16 / 9;
  object-fit: fill;
  align-self: center;
  width: 600px;
  max-width: 600px;
  height: 400px;
  max-height: 400px;
  overflow: visible;
}

.video-6 {
  max-width: 600px;
  overflow: hidden;
}

.video-7, .video-8, .video-9, .video-10, .video-11 {
  max-width: 600px;
}

.div-block-3, .div-block-4, .div-block-5, .div-block-6, .div-block-7, .div-block-8 {
  width: 600px;
}

.text-span-2 {
  color: gray;
  font-size: 15px;
}

.image-2 {
  width: 800px;
}

.text-span-3 {
  color: #fff;
}

.paragraph-about {
  color: #fff;
  text-align: justify;
  text-indent: 1px;
  column-count: auto;
  width: 875px;
  max-width: none;
  padding-left: 40px;
  padding-right: 40px;
  font-family: Montserrat, sans-serif;
  font-size: 20px;
  line-height: 30px;
  text-decoration: none;
}

.image-3 {
  max-width: 800px;
}

.paragraph-about-2 {
  text-align: center;
  width: 800px;
  height: auto;
  font-size: 20px;
}

.paragraph-publications {
  color: #fff;
  text-align: justify;
  text-indent: 1px;
  column-count: auto;
  width: 870px;
  padding-left: 40px;
  padding-right: 40px;
  font-family: Montserrat, sans-serif;
  font-size: 20px;
  line-height: 30px;
  text-decoration: none;
}

@media screen and (max-width: 991px) {
  .container {
    max-width: 728px;
  }

  .gallery-wrapper {
    grid-template-columns: 1fr 1fr;
  }

  .gallery-sticky {
    position: relative;
    top: 0;
  }

  .container-2 {
    max-width: 728px;
  }

  .gallery-wrapper-2 {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 767px) {
  .gallery-scroll, .gallery-overview {
    padding: 60px 15px;
  }
}

@media screen and (max-width: 479px) {
  .container {
    max-width: none;
  }

  .gallery-wrapper {
    grid-template-columns: 1fr;
  }

  .container-2 {
    max-width: none;
  }

  .gallery-wrapper-2 {
    grid-template-columns: 1fr;
  }
}

#w-node-_5f470aba-a59e-89b1-2f49-7caafac3a3f3-fdf9aeb7 {
  grid-template-rows: auto;
  grid-template-columns: .25fr 1fr;
}

#w-node-_8c4e39c4-db37-1d4e-c065-4fef61cbd1b0-fdf9aeb7 {
  grid-area: span 1 / span 3 / span 1 / span 3;
}

#w-node-_5f470aba-a59e-89b1-2f49-7caafac3a3f3-3d153a55 {
  grid-template-rows: auto;
  grid-template-columns: .25fr 1fr;
}

#w-node-_8c4e39c4-db37-1d4e-c065-4fef61cbd1b0-3d153a55 {
  grid-area: span 1 / span 3 / span 1 / span 3;
}

#w-node-_5f470aba-a59e-89b1-2f49-7caafac3a3f3-49a29760 {
  grid-template-rows: auto;
  grid-template-columns: .25fr 1fr;
}

#w-node-_8c4e39c4-db37-1d4e-c065-4fef61cbd1b0-49a29760 {
  grid-area: span 1 / span 3 / span 1 / span 3;
}

@media screen and (max-width: 991px) {
  #w-node-_8c4e39c4-db37-1d4e-c065-4fef61cbd1b0-fdf9aeb7, #w-node-_8c4e39c4-db37-1d4e-c065-4fef61cbd1b0-3d153a55, #w-node-_8c4e39c4-db37-1d4e-c065-4fef61cbd1b0-49a29760 {
    grid-area: span 1 / span 2 / span 1 / span 2;
  }
}

@media screen and (max-width: 479px) {
  #w-node-_8c4e39c4-db37-1d4e-c065-4fef61cbd1b0-fdf9aeb7, #w-node-_8c4e39c4-db37-1d4e-c065-4fef61cbd1b0-3d153a55, #w-node-_8c4e39c4-db37-1d4e-c065-4fef61cbd1b0-49a29760 {
    grid-area: span 1 / span 1 / span 1 / span 1;
  }
}

/* Mobile-specific responsive fixes */
@media screen and (max-width: 767px) {
  /* Main grid layout */
  .w-layout-layout.quick-stack {
    display: grid;
    grid-template-columns: 1fr;
  }
  
  /* Image scaling */
  .image-2, .image-3 {
    width: 100%;
    height: auto;
  }
  
  /* Text containers */
  .paragraph-about, .paragraph-publications {
    width: 100%;
    max-width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
  }
  
  /* Videos */
  .video, .video-3, .video-4, .video-5, .video-6, .video-7, 
  .video-8, .video-9, .video-10, .video-11 {
    width: 100%;
  }
  
  /* Video containers */
  .div-block-3, .div-block-4, .div-block-5, 
  .div-block-6, .div-block-7, .div-block-8 {
    width: 100%;
  }
  
  /* Navigation menu adjustments */
  .gallery-scroll {
    padding: 40px 15px;
  }
  
  /* Text size adjustments */
  .paragraph-about, .paragraph-about-2 {
    font-size: 18px;
    line-height: 26px;
  }
}

/* Very small screens */
@media screen and (max-width: 479px) {
  /* Further text size reduction */
  .paragraph-about, .paragraph-about-2, .paragraph-publications {
    font-size: 16px;
    line-height: 24px;
  }
  
  /* Headings */
  .heading, .heading-2 {
    font-size: 22px;
  }
}
